<h1 mat-dialog-title>{{ creationVerb }} Group</h1>
<form mat-dialog-content [formGroup]="form" *ngIf="!isDeleting">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" matInput required placeholder="My Cool Group" [formControlName]="'name'" />
    </mat-form-field>
    <mat-label id="users-label">Users</mat-label>
    <div class="row" *ngFor="let user of usersControls; index as i" [formArrayName]="'users'">
        <mat-form-field>
            <mat-select aria-labelledby="users-label" [formControlName]="i" [required]="true">
                <mat-option *ngFor="let user of users" [value]="user.id" [disabled]="isAnotherValue(user, i)">{{ user.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-icon-button [color]="'warn'" (click)="removeUser(i)">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <button class="primary" mat-raised-button (click)="addUser()">
        New User
        <mat-icon>add</mat-icon>
    </button>
</form>
<p *ngIf="isDeleting">Are you sure you want to delete this group? This will remove all data associated with it.</p>
<div mat-dialog-actions>
    <button mat-raised-button [class]="isDeleting ? 'warn' : 'succeed'" (click)="handleClick()" [disabled]="form.invalid">{{ creationVerb }}</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
</div>