<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let expense"> {{ expense.userId }} </td>
    </ng-container>
    <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let expense"> {{ expense.cost | currency }}</td>
    </ng-container>
    <ng-container matColumnDef="purpose">
        <th mat-header-cell *matHeaderCellDef> Purpose </th>
        <td mat-cell *matCellDef="let expense"> {{ expense.purpose }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>

<h2>Total: {{ total }}</h2>
<h2>Unique Users: {{ uniqueUsers }}</h2>
<h2>Total Owed: {{ totalOwed }}</h2>

<table>
    
</table>