<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Group ID </th>
        <td mat-cell *matCellDef="let group"> {{ group.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let group"> {{ group.name }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="icon-cell" mat-cell *matCellDef="let group">
            <button mat-icon-button attr.aria-label="Edit Group {{ group.name }}" (click)="showGroupDialog('edit', group)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button attr.aria-label="Delete Group {{ group.name }}" (click)="showGroupDialog('delete', group)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>

<button class="primary" mat-button (click)="showGroupDialog('create', undefined)">Create Group</button>